---
import Layout from '@/layouts/Layout.astro';
import Home from '@/components/home/Home';
import Nav from '@/components/ui/nav.astro';
import { isAuth } from '@/lib/auth';

let a = await isAuth();

console.log('el usuario esta autenticado', a);
if (a === false) {
	console.log('el usuario no esta autenticado');
	return Astro.redirect('/');
}
---

<Layout title="Home">
	<Nav />
	<main class="grid grid-cols-10">
		<div class="flex col-start-3 my-[5rem]">
			<div class="">
				<Home client:idle />
			</div>
		</div>
	</main>
</Layout>
